<app-root></app-root> <br> <br> <br> <br> <br> <br> <br>


<h1 class="middle_text">A propos de la boutique</h1>
<br>

<div class="box_textcontent">
    <div class="content_text">
      <h1>Bienvenue sur notre boutique en ligne ! <br></h1>
    <p>Notre boutique en ligne vous propose des figurines de votre Saga préféré. <br>
    Nos figurines sont faites mains par nos artisants qui comme vous sont passionées d'Astérix et Obélix. <br>
    <br>
    Notre boutique est basée sur Astérix et Obélix, pour des figurines personnalisées merci de nous <a href="tel:090909090909">contacter</a>.</p> 
    </div>
  </div>
  <br> <br>
  
<app-showcase></app-showcase>
  <footer>
    <p class="footertext">Copyright 2024 <a href="#">AuPetitVillage</a></p>
</footer>