<form class="form">
    
    <div class="flex">
        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Prénom</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input">
            <span>Nom</span>
        </label>
    </div>  
            
    <label>
        <input required="" placeholder="" type="email" class="input">
        <span>email</span>
    </label> 
        
    <label>
        <input required="" type="tel" placeholder="" class="input">
        <span>Numéro</span>
    </label>
    <label>
        <textarea required="" rows="3" placeholder="" class="input01"></textarea>
        <span>Message</span>
    </label>
    
    <button class="fancy" href="#">
      <span class="top-key"></span>
      <span class="text">submit</span>
      <span class="bottom-key-1"></span>
      <span class="bottom-key-2"></span>
    </button>
</form>

<app-footer></app-footer>

<router-outlet></router-outlet>