
<div class="box_pictures" id="#asterixfigurine">
    <img [src]="myimage" alt="Asterix" class="asterix_showcase">
    <p class="description_asterix">Astérix est la figurine principal du Film Astérix & Obélix, C'est également la masquotte de notre boutique en ligne !
        Avec sa largeur de 8cm,et sa hauteur de 18cm, ainsi que ses détails minutieux, vous aurez l'impréssion d'être devant le vrai ! C'est la figurine parfaite pour tout fans/colléctionneur d'Astérix.
    </p>
</div>
    
<app-footer>
</app-footer>
