<main>
<div class="formulaire">
    <input type="text"
    class="form-control"
    placeholder="Votre recherche"
     autocomplete="off" 
     id="toy"
[(ngModel)]="toyspipe"/>
<p>{{ toyspipe }}</p>
    
     <table class="table table-striped mt-3">
        <thead>
            <tr>
          
                <th>Produit</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of topProducts  | filterpipe : toyspipe">
        
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
        </tr>
        </tbody>
     </table>
</div>    
    
        <header>
            <ul class="indicator">
                <li data-filter="all">Figurine</li>
            </ul>
            <div class="filter-condition">
                <span>Trier par</span>
                <select name="" id="select">
                    <option value="Default">Défaut</option>
                    <option value="LowToHigh">Moins chère au plus chère</option>
                    <option value="HighToLow">Plus chère au moins chère</option>
                </select>
            </div>
        </header>
        <div class="product-field">
            <ul class="items">
                <li data-category="" data-price="">
                    <picture>
                <img [src]="myimage" alt="Asterix">
            </picture>
            <div class="detail">
                <p class="icon">
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="far fa-share-square"></i></span>
                    <span><i class="fas fa-shopping-basket"></i></span>
                </p>
                <strong>Astérix</strong>
                <span>
                    Largeur : 8cm, Hauteur : 18cm.</span>
                    <small>Achetez</small>
                    </div>
                    <h4>12.95€</h4>
                </li>
                <li data-category="" data-price="">
                    <picture>
                    <img [src]="cesar" alt="César">
                </picture>
                <div class="detail">
                    <p class="icon">
                        <span><i class="far fa-heart"></i></span>
                        <span><i class="far fa-share-square"></i></span>
                        <span><i class="fas fa-shopping-basket"></i></span>
                    </p>
                    <strong>Jules César</strong>
                    <span>Largeur : 10cm, Hauteur : 20cm.</span>
                        <small>Achetez</small>
                        </div>
                        <h4>14.95€</h4>
                    </li>
                    <li data-category="" data-price="">
                        <picture>
                        <img [src]="idefix" alt="idéfix">
                    </picture>
                    <div class="detail">
                        <p class="icon">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="far fa-share-square"></i></span>
                            <span><i class="fas fa-shopping-basket"></i></span>
                        </p>
                        <strong>Idéfix</strong>
                        <span>Largeur : 8cm, Hauteur : 8cm.</span>
                            <small>Achetez</small>
                            </div>
                            <h4>7.95€</h4>
                        </li>
                        <li data-category="" data-price="">
                            <picture>
                            <img [src]="obelix" alt="Obélix">
                        </picture>
                        <div class="detail">
                            <p class="icon">
                                <span><i class="far fa-heart"></i></span>
                                <span><i class="far fa-share-square"></i></span>
                                <span><i class="fas fa-shopping-basket"></i></span>
                            </p>
                            <strong>Obélix</strong>
                            <span>Largeur : 12cm, Hauteur : 20cm.</span>
                                <small>Achetez</small>
                                </div>
                                <h4>15.95€</h4>
                            </li>
            </ul>
        </div>
    </main>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
