@font-face {
    font-family: 'Bubblebody';
    src: url(Bubbleboddy-ExtraLightTrial.ttf)
}


@font-face {
    font-family: 'Comfortaa';
    src: url(Comfortaa-Light.ttf);
}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

.header {
font-family: 'Bubblebody';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:10px 300px;
    background: #151217;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
    }

body {
    background-color: #f9d0a3;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Comfortaa', sans-serif;
    font-size: 100;
    font-weight: 60;
}



h1,h2,h3,h5,h6 {
    font-family: 'Bubblebody';
    letter-spacing: 1px
}

.logo {
    font-size: 32px;
    color: #DA001E;
    text-decoration: none;
    font-weight: 700;

}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #DA001E;
    font-weight: 500;
    text-decoration:  none;
    margin-left: 40px;

}

.navbar a::before {
    content: '';
    position: absolute;
    top:100%;
    left: 0;
    width: 0px;
    height: 2px;
    background :#FDD90B;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}


.produits{
    text-align:center;
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 80px;
    color: #151217;
    display: flex;
    gap: 5%;
    align-items:stretch;
    
}

.section_produits{
    padding: 100px 5%;
    display: flex;
    align-items:center;



}

.produits .figurine{
    width: 320px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 79px -6px #FDD90B;
}

.produits .figurine img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
}

.produits .figurine .desc{
    padding: 5px 20px;
    opacity: 0.8;
}
.produits .figurine .titre {
    font-weight: 900;
    font-size: 20px;
    color:#151217;
    padding: 0 20px;
}

.produits .figurine .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.produits .figurine .prix{
    color:#DA001E;
    font-size: 20px;
    font-weight: bold;
}

.produits .figurine .achat{
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color:#DA001E;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
  }

.produits .figurine .achat span{ 
    
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: -1;
        border: 4px solid #DA001E;
      
  }

  .produits .figurine .achat span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
  }

  .produits .figurine .achat:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #DA001E;
  }

  .achat:hover {
    color: #FDD90B;
  }

  .achat:active span::before {
    background: #DA001E;
  }

.produits .figurine .box .achat:hover{
    cursor: pointer;
    color: black;

}

footer{
    background-color: #151217;
    height: 10vh;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:100px;   /* Hauteur du pied de page */
 
}
footer .footertext{
    text-align: center;
    line-height: 10vh;
    color: #FDD90B;
}
footer .footertext a{
    text-decoration: none;
    color: #DA001E;
    font-weight: bold;
}

.logoheader {
    border-radius: 30px;
}

.searchcolor {
    border-radius: 30px;
background: #FDD90B;
box-shadow: inset -23px 23px 46px #c0a508,
            inset 23px -23px 46px #ffff0e;
            width: 300px;
            height: 80px;
            line-height : 40px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

}

.valueofprice, .produits_texte {
    text-align: center;
}


.search {
    padding: 8px 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .search:hover {
    background-color: #DA001E;
    box-shadow: 0px 15px 20px rgba(202, 11, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .search:active {
    transform: translateY(-1px);
  }

  .input {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }

  .searchitem {
    border-radius: 30px;
background: #FDD90B;
box-shadow: inset -23px 23px 46px #c0a508,
            inset 23px -23px 46px #ffff0e;
            width: 300px;
            height: 100px;
            line-height : -20px;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            text-align: center;

}

.btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: 0.5s ease;
  }
  
  .btn:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }

.presentation_figurine{
  border-radius: 45px;
  width:250px; 
  height:320px;
  padding: 30px;
}

.box_pictures{
  padding: 100px 5%;
  display: flex;
  align-items:center;

}

.description_figurine{
  border-radius: 30px;
  background: #F9D0A3;
  box-shadow: inset 5px 5px 45px #645341,
  inset -5px -5px 45px #ffffff;
              width: 650px;
              height: 150px;
              line-height : 40px;
              margin-left: auto;
              margin-right: auto;
              text-align: center;
}

.middle_text{
  text-align: center;
  text-decoration: underline;
}





.box_textcontent
{
  width: 900px;
  margin: 0 auto;
  padding: 2px;
  background-color: #eaab00;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),  url('data:image/gif;base64,R0lGODlhAQABAPAAAOqrAP///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0% 2px;
  background-position: top center, top center, bottom center;
  -webkit-animation: drawBorderFromCenter 4s;
}


@-webkit-keyframes drawBorderFromCenter {
    0% {
      background-size: 0 2px, 0 0, 100% 100%;
    }
    20% {
      background-size: 100% 2px, 100% 0, 100% 100%;
    }
    66%
    {
      background-size: 100% 2px, 100% 98%, 100% 100%;
    }
    99%
    {
      background-size: 100% 2px, 100% 98%, 0 2px;
    }
}



.content_text
{
  background: white;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
}

.left_text {
  height: 250px;
  width: 800px;
  border-radius: 71px;
background: #ffffff;
box-shadow:  14px 14px 24px #d9d9d9,
             -14px -14px 24px #ffffff;
  margin: 20px;
  text-align: center;
}

.right_text {
  height: 420px;
  width: 800px;
  border-radius: 71px;
background: #ffffff;
box-shadow:  14px 14px 24px #d9d9d9,
             -14px -14px 24px #ffffff;
  margin: 20px;
  text-align: center;

}

.home_text{

display: flex;

}

.box_text {
  margin-top: 20px;
  text-shadow: #1e1e2b;
}

.imgofshowcase {
  margin-bottom: 0px;
  width: 160px;
  height: auto;
  margin: 15px;
  border-radius: 25px;
}





.buttonshowcase {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .buttonshowcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .buttonshowcase:hover {
  color: #e8e8e8;
 }
 
 .buttonshowcase:hover::before {
  width: 100%;
 }




 :root{
  --gra: linear-gradient(45deg, cyan, royalblue);
 }
 *{
  padding:0;
  margin: 0;
  box-sizing: border-box;

}
main{
  width: 90%;
  margin: 60px auto;
  font-family: 'Bubblebody';
}
header {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul li {
   list-style: none;
   padding: 20px;
   margin: 10px;
   float: left;
   font-size: 20px;
   border-radius: 35px;
}

header ul li a{
  color: inherit;
  text-decoration: none;
}

header ul li.active{
  background: var(--gra);

}


header ul li.active a{
color:white;
font-weight: bold;
}

.filter-condition{
  padding: 20px;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
}


.filter-condition select{
width: 120px;
padding: 0 0 0 10px;
border: none;
outline: none;
font-weight: bold;
color: purple;
background: transparent;
cursor: pointer;
}

.product-field{
  padding: 40px 20px;
}

.product-field ul {
width: 100%;
display: flex;
flex-wrap: wrap;
}

.product-field ul li{
  list-style: none;
  width: 23.4%;
  height: 400px;
  transform: 0.5 all;
  background:whitesmoke;
  border-radius: 20px;
  padding: 10px;
  margin: 200px 10px 0 10px;
  position: relative;
}

picture{
  background: #eee;
  padding: 5px;
  position: absolute;
  right: 0;
bottom: 41%;
width: 75%;
height: 85%;
border-radius: 50px 20px 0 20px;
transform: skewY(40deg);
overflow: hidden;
box-shadow: 0 1px 0 #00000020, -1px 0 0 #ccc;
}

picture img{
  width: 95%;
  z-index: 1;
  transform: skewY(-40deg);
  padding: 25px 0 0 0;
}

.detail{
  width: 100%;
  height: 100%;
}

.detail .icon{
  width: 30%;
  height: 55%;
  padding: 20px 5px;
}

.icon span{
  background: #00000030;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  margin: 0 0 20px 5px;
  font-size: 20px;
  color: white;
}

.icon span:hover{
  background: var(--gra) ;
  cursor:pointer;
}

.detail>strong {
  display: inherit;
  margin: 20px;
font-size: 30px;
letter-spacing: 2px;
color: #555;

}

.detail>span{
  display: inherit;
  padding: 0 20px;
  width: 80%;
}

.detail small{
  display: inline-block;
  padding: 8px 20px;
  margin: 15px;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid  #999;
  cursor: pointer;
}

.detail small:hover{
  background:var(--gra);
  color:white;
  border-color: cyan;
}

li h4{
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 30px;
  color:#555;
  text-shadow: 1px 1px 2px black;
}

.formulaire{
  padding-top: 50px;
  padding-left: 50px;

  width: 250px;
  height: 250px;
  border-radius: 50px;
background: #e0e0e0;
box-shadow:  14px 14px 28px #bebebe,
             -14px -14px 28px #ffffff;
}