<div class="product-field">
    <ul class="items">

        <li data-category="" data-price="">
            <picture>
            <img [src]="obelix" alt="Obélix">
        </picture>
        <div class="detail">
            <p class="icon">
                <span><i class="far fa-heart"></i></span>
                <span><i class="far fa-share-square"></i></span>
                <span><i class="fas fa-shopping-basket"></i></span>
            </p>
            <strong><a [routerLink]="'/obelix'">Obélix</a></strong>
            <span>Largeur : 12cm, Hauteur : 20cm.</span>
                <small>Achetez</small>
                </div>
                <h4>15.95€</h4>
            </li>

       

            <li data-category="" data-price="">
                <picture>
                <img [src]="cesar" alt="César">
            </picture>
            <div class="detail">
                <p class="icon">
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="far fa-share-square"></i></span>
                    <span><i class="fas fa-shopping-basket"></i></span>
                </p>
                <strong><a [routerLink]="'/Cesar'">Jules César</a></strong>
                <span>Largeur : 10cm, Hauteur : 20cm.</span>
                    <small>Achetez</small>
                    </div>
                    <h4>14.95€</h4>
                </li>



        <li data-category="" data-price="">
            <picture>
        <img [src]="myimage" alt="Asterix">
    </picture>
    <div class="detail">
        <p class="icon">
            <span><i class="far fa-heart"></i></span>
            <span><i class="far fa-share-square"></i></span>
            <span><i class="fas fa-shopping-basket"></i></span>
        </p>
        <strong><a [routerLink]="'/Asterix'">Astérix</a></strong>
        <span>
            Largeur : 8cm, Hauteur : 18cm.</span>
            <small>Achetez</small>
            </div>
            <h4>12.95€</h4>
        </li>


        


            
          

            <li data-category="" data-price="">
                <picture>
                <img [src]="idefix" alt="idéfix">
            </picture>
            <div class="detail">
                <p class="icon">
                    <span><i class="far fa-heart"></i></span>
                    <span><i class="far fa-share-square"></i></span>
                    <span><i class="fas fa-shopping-basket"></i></span>
                </p>
                <strong><a [routerLink]="'/idefix'">Idéfix</a></strong>
                <span>Largeur : 8cm, Hauteur : 8cm.</span>
                    <small>Achetez</small>
                    </div>
                    <h4>7.95€</h4>
                </li>
                



          
    </ul>
</div>

<app-footer>
</app-footer>
<router-outlet></router-outlet>