<main class="home">
    <div class="home_text">
        <div class="left_text">
    <h1 class="box_text">Au Petit Village est une entreprise qui confectionne des figurines inspirées de la bande
        dessinée Astérix et Obélix. <br>
    Notre entreprise est entièrement française, avec une fabriquation et des matériaux français. <br>
    Nos artisans (fabricants) sont très minutieux, il ne laisse aucun défaut à la trappe ! Leurs figurines sont d'une qualités indéscriptible  </h1>
        </div>
    <div>
        
    </div>
        <div class="right_text">
           <a [routerLink]="'/Asterix'"> <img [src]="myimage" alt="asterix" class="imgofshowcase"> </a>
         <a [routerLink]="'/Obelix'">  <img [src]="obelix" alt="obelix" class="imgofshowcase"></a> 
          <a [routerLink]="'Cesar'">  <img [src]="cesar" alt="cesar" class="imgofshowcase"></a>
           <a [routerLink]="'/idefix'"> <img [src]="idefix" alt="Idéfix" class="imgofshowcase"></a>
            <h1>Nos produits en vitrine</h1><p>Astérix,Obélix,César,Idéfix</p><br>  

    
            
        </div>
    </div>
    </main>